<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Sign up to accept mobile payments with Bling Nation</title>
</head>
<body  style="background-color: #fff;color: #333;margin:0;font-size:13px; line-height:12px;">
  <div id="container" style="margin-left:60px; margin-top:30px; width:725px;">
    <div id="top-bar">
      <div id="logo" style="float:left;width: 93px;height: 64px;">
        <img src="https://blingnation-signup.heroku.com/images/bling_logo_agreement.png" alt="bling logo" width="93px" height="64px"/>
      </div>
      <div id="type-header" style="text-align: right;float:left;width:631px;margin-top:15px;border-bottom: solid 4px #dddddd;">
        <h2 id="type-header-text">Application - Other</h2>
      </div>
    </div>
    <div style="clear:both"></div>
    <div id="top-box" style="height:236px;width:720px;margin-top:8px;border: solid 2px #dddddd;">
      <img style="float:left" src="https://blingnation-signup.heroku.com/images/merchant_info.png" alt="merchant info"/>
      <div id="merchant-info" style="width:250px;margin-top:5px;margin-right:15px;float:left;margin-left:5px;">
        <div id="agreement_legal_name_input" class="string required">
          <p style="padding-top:10px;margin:0;border-bottom:solid 1px #cccccc;"><%= @agreement.legal_name %></p>
          <p style="margin:0;display:block;font-size:11px;">Legal name</p>
        </div>
        <div id="agreement_business_name_input" class="string required">
          <p style="padding-top:10px;margin:0;border-bottom:solid 1px #cccccc;"><%= @agreement.business_name %></p>
          <p style="margin:0;display:block;font-size:11px;">Business name</p>
        </div>
        <div id="agreement_business_phone_input" class="string required">
          <p style="padding-top:10px;margin:0;border-bottom:solid 1px #cccccc;"><%= @agreement.business_phone %></p>
          <p style="margin:0;display:block;font-size:11px;">Business phone</p>
        </div>
        <div id="agreement_physical_address_input" class="string required">
          <p style="padding-top:10px;margin:0;border-bottom:solid 1px #cccccc;"><%= @agreement.physical_address %></p>
          <p style="margin:0;display:block;font-size:11px;">Physical address</p>
        </div>
        <div id="agreement_mailing_address_input" class="string required">
          <p style="padding-top:10px;margin:0;border-bottom:solid 1px #cccccc;"><%= @agreement.mailing_address %></p>
          <p style="margin:0;display:block;font-size:11px;">Mailing address</p>
        </div>
        <div id="city-state-zip">
          <div style="float:left;" id="agreement_city_input" class="string required">
            <p style="padding-top:10px;margin:0;border-bottom:solid 1px #cccccc;"><%= @agreement.city %></p>
            <p style="margin:0;display:block;font-size:11px;">City</p>
          </div>
          <div style="float:left;" id="agreement_state_input" class="string required">
            <p style="padding-top:10px;margin:0;border-bottom:solid 1px #cccccc;"><%= @agreement.state %></p>
            <p style="margin:0;display:block;font-size:11px;">State</p>
          </div>
          <div style="float:left;" id="agreement_zip_input" class="string required">
            <p style="padding-top:10px;margin:0;border-bottom:solid 1px #cccccc;"><%= @agreement.zip %></p>
            <p style="margin:0;display:block;font-size:11px;">Zip</p>
          </div>
        </div>
      </div>
      <img style="float:left;" src="https://blingnation-signup.heroku.com/images/contact_info.png" alt="contact info"/>
      <div id="contact-info"  style="margin-top:10px;margin-right:15px;float:left;margin-left:5px;">
        <div id="agreement_authorized_contact_input" class="string required">
          <p style="padding-top:10px;margin:0;border-bottom:solid 1px #cccccc;"><%= @agreement.authorized_contact %></p>
          <p style="margin:0;display:block;font-size:11px;">Authorized contact</p>
        </div>
        <div id="agreement_authorized_contact_cell_input" class="string required">
          <p style="padding-top:10px;margin:0;border-bottom:solid 1px #cccccc;"><%= @agreement.authorized_contact_cell %></p>
          <p style="margin:0;display:block;font-size:11px;">Authorized contact cell</p>
        </div>
        <div id="agreement_fax_input" class="string required">
          <p style="padding-top:10px;margin:0;border-bottom:solid 1px #cccccc;"><%= @agreement.fax %></p>
          <p style="margin:0;display:block;font-size:11px;">Fax</p>
        </div>
        <div id="agreement_email_input" class="string required">
          <p style="padding-top:10px;margin:0;border-bottom:solid 1px #cccccc;"><%= @agreement.email %></p>
          <p style="margin:0;display:block;font-size:11px;">Email</p>
        </div>
        <div id="number-answers">
          <div style="float:left;margin-right:15px;" id="agreement_years_in_business_input" class="numeric required">
            <p style="padding-top:10px;margin:0;border-bottom:solid 1px #cccccc;"><%= @agreement.years_in_business %></p>
            <p style="margin:0;display:block;font-size:11px;">Years in busines</p>
          </div>
          <div style="float:left;margin-right:15px;" id="agreement_ein_input" class="string required">
            <p style="padding-top:10px;margin:0;border-bottom:solid 1px #cccccc;"><%= @agreement.ein %></p>
            <p style="margin:0;display:block;font-size:11px;">Ein</p>
          </div>
        </div>
        <div id="ownership-type">
          <p style="border-bottom:solid 1px #cccccc;"><%= @agreement.ownership_type %></p>
          <p style="display:block;font-size:11px;">Ownership Type:</p>
        </div>
      </div>
    </div>
    <div id="dba-name">
      <p style="margin-right:5px;padding-top:5px;float:left;font-size: 11px;font-style: italic;">System will display first 20 characters (incl. spaces) of legal name or DBA, if different, unless indicated otherwise:</p>
      <p style="float:left;border-bottom:solid 1px #cccccc;"><%= @agreement.short_name %></p>
    </div>
    <div style="clear:both"></div>
    <div id="pricing" style="margin-top:3px;margin-bottom:10px;border:solid 2px #cccccc;">
      <div id="pricing-top">
        <p style="padding-top:3px;font-weight: bold;float:left;">Pricing Schedule & Fees</p>
        <div style="float:right;" id="agreement_num_of_blingers_input" class="numeric required">
          <p style="float:left;margin-right:5px;">Number of blingers</p>
          <p style="float:left;margin-right:5px;border-bottom:solid 1px #cccccc;"><%= @agreement.num_of_blingers %></p>
        </div>
      </div>
      <img id="pricing-pic" src="https://blingnation-signup.heroku.com/images/grocery_pricing.png" alt="pricing"/>
    </div>

    <div id="check">
      <img src="https://blingnation-signup.heroku.com/images/check_top.png" alt=""/>
      <img id="check-left" style="float:left;margin-left: 1px;" src="https://blingnation-signup.heroku.com/images/check_left.png" alt=""/>
      <div id="check-center-area" style="width:725px;">
        <div id="agreement_name_on_account_input" class="string required">
          <p style="padding-top:15px;padding-left:5px;float:left;display:block;font-size:11px;">Name on Checking Account:</p>
          <p style="float:left;border-bottom:solid 1px #000000;"><%= @agreement.name_on_account %></p>
          <img id="check-top-right" style="float:right;margin-right:2px;"src="https://blingnation-signup.heroku.com/images/check_top_right.png" alt=""/>
        </div>
        <img src="https://blingnation-signup.heroku.com/images/check_middle.png" alt=""/>
      </div>
      <div id="check-lower-section">
        <p style="padding-top:10px;margin:0;width:267px;float:left;border-bottom:solid 1px #cccccc;"><%= @agreement.bank_name %></p>
        <img style="float:left;"src="https://blingnation-signup.heroku.com/images/check_center.png" alt=""/>
        <p style="padding-top:10px;margin:0;width:263px;float:left;border-bottom:solid 1px #000000;"><%= @agreement.account_number %></p>
        <img style="float:left;" src="https://blingnation-signup.heroku.com/images/check_middle_right.png" alt=""/>
      </div>
      <img id="check_upper_bottom" src="https://blingnation-signup.heroku.com/images/check_upper_bottom.png" alt=""/>
      <div id="lower-left-bottom">
        <img id="bottom-section" style="float:left;" src="https://blingnation-signup.heroku.com/images/check_lower_left_bottom.png" alt=""/>
        <div id="little-string" style="height:40px;float:left;">
          <input style="margin-bottom:1px;display:block;" type="checkbox" value="1" name="agreement[new_account]" id="agreement_new_account" value="<%= @agreement.new_account %>"/>
          <img style="margin-bottom:1px;display:block;" src="https://blingnation-signup.heroku.com/images/check_bottom_left_right.png" alt=""/>
        </div>
        <img id="bottom-corner" src="https://blingnation-signup.heroku.com/images/check_lower_right_bottom.png" alt=""/>
      </div>
    </div>

    <div id="bottom" style="height:265px;width:720px;margin-top:8px;border: solid 1px #dddddd;">
      <img src="https://blingnation-signup.heroku.com/images/terms.png" alt=""/>
      <div id="agreement_printed_name_input" class="string required" style="float:left;margin-left:10px;margin-right:20px;">
        <p style="margin:0;border-bottom:solid 1px #000000;"><%= @agreement.printed_name %></p>
        <p style="margin:0;display:block;font-size:11px;">Printed name</p>
      </div>
      <div id="agreement_initials_input" class="string required" style="float:left;margin-left:10px;margin-right:20px;">
        <p style="margin:0;border-bottom:solid 1px #000000;"><%= @agreement.initials %></p>
        <p style="margin:0;display:block;font-size:11px;">By entering your initials <br/>above, you agree to the terms</p>
      </div>
      <div id="agreement_title_input" class="string required" style="float:left;margin-left:10px;margin-right:20px;">
        <p style="margin:0;border-bottom:solid 1px #000000;"><%= @agreement.title %></p>
        <p style="margin:0;display:block;font-size:11px;">Title</p>
      </div>
    </div>
  </div>
</body>
</html>
