<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Sign up to accept mobile payments with Bling Nation</title>
</head>
<body  style="background-color: #fff;color: #333;margin:0;font-size:13px; line-height:12px;">
  <div id="container" style="margin-left:60px; margin-top:30px; width:725px;">
    <div id="top-bar">
      <div id="logo" style="float:left;width: 93px;height: 64px;">
        <img src="https://blingnation-signup.heroku.com/images/bling_logo_agreement.png" alt="bling logo" width="93px" height="64px"/>
      </div>
      <div id="type-header" style="text-align: right;float:left;width:631px;margin-top:15px;border-bottom: solid 4px #dddddd;">
        <h2 id="type-header-text">Application - Other</h2>
      </div>
    </div>
    <div style="clear:both"></div>
    <div id="top-box">
      <img src="https://blingnation-signup.heroku.com/images/merchant_info.png" alt="merchant info"/>
      <div id="merchant-info">
        <div id="merchant-info">
        <li id="agreement_legal_name_input" class="string required">
          <p><%= @agreement.legal_name %></p>
          <label for="agreement_legal_name">Legal name</label>
        </li>
        <li id="agreement_business_name_input" class="string required">
          <p><%= @agreement.business_name %></p>
          <label for="agreement_business_name">Business name</label>
        </li>
        <li id="agreement_business_phone_input" class="string required">
          <p><%= @agreement.business_phone %></p>
          <label for="agreement_business_phone">Business phone</label>
        </li>
        <li id="agreement_physical_address_input" class="string required">
          <p><%= @agreement.physical_address %></p>
          <label for="agreement_physical_address">Physical address</label>
        </li>
        <li id="agreement_mailing_address_input" class="string required">
          <p><%= @agreement.mailing_address %></p>
          <label for="agreement_mailing_address">Mailing address</label>
        </li>
        <div id="city-state-zip">
          <li id="agreement_city_input" class="string required">
            <p><%= @agreement.city %></p>
            <label for="agreement_city">City</label>
          </li>
          <li id="agreement_state_input" class="string required">
            <p><%= @agreement.state %></p>
            <label for="agreement_state">State</label>
          </li>
          <li id="agreement_zip_input" class="string required">
            <p><%= @agreement.zip %></p>
            <label for="agreement_zip">Zip</label>
          </li>
        </div>
      </div>
      </div>
      <img src="https://blingnation-signup.heroku.com/images/contact_info.png" alt="contact info"/>
      <div id="contact-info">
        <li id="agreement_authorized_contact_input" class="string required">
          <p><%= @agreement.authorized_contact %></p>
          <label for="agreement_authorized_contact">Authorized contact</label>
        </li>
        <li id="agreement_authorized_contact_cell_input" class="string required">
          <p><%= @agreement.authorized_contact_cell %></p>
          <label for="agreement_authorized_contact_cell">Authorized contact cell</label>
        </li>
        <li id="agreement_fax_input" class="string required">
          <p><%= @agreement.fax %></p>
          <label for="agreement_fax">Fax</label>
        </li>
        <li id="agreement_email_input" class="string required">
          <p><%= @agreement.email %></p>
          <label for="agreement_email">Email</label>
        </li>
        <div id="number-answers">
          <li id="agreement_years_in_business_input" class="numeric required">
            <p><%= @agreement.years_in_business %></p>
            <label for="agreement_years_in_business">Years in busines</label>
          </li>
          <li id="agreement_ein_input" class="string required">
            <p><%= @agreement.ein %></p>
            <label for="agreement_ein">Ein</label>
          </li>
        </div>
        <div id="ownership-type">
          <p><%= @agreement.ownership_type %></p>
          <p>Ownership Type:</p>
        </div>
      </div>
    </div>
    <div id="dba-name">
      <p>System will display first 20 characters (incl. spaces) of legal name or DBA, if different, unless indicated otherwise:</p>
      <p><%= @agreement.short_name %></p>
    </div>
    <div class="clear"></div>
    <div id="pricing">
      <div id="pricing-top">
        <p>Pricing Schedule & Fees</p>
        <li id="agreement_num_of_blingers_input" class="numeric required">
          <label for="agreement_num_of_blingers">Num of blingers</label>
          <p><%= @agreement.num_of_blingers %></p>
        </li>
      </div>
      <img id="pricing-pic" src="https://blingnation-signup.heroku.com/images/grocery_pricing.png" alt="pricing"/>
    </div>

    <div id="check">
      <img src="https://blingnation-signup.heroku.com/images/check_top.png" alt=""/>
      <img id="check-left" src="https://blingnation-signup.heroku.com/images/check_left.png" alt=""/>
      <div id="check-center-area">
        <li id="agreement_name_on_account_input" class="string required">
          <label for="agreement_name_on_account">Name on Checking Account:</label>
          <p><%= @agreement.name_on_account %></p>
          <img id="check-top-right" src="https://blingnation-signup.heroku.com/images/check_top_right.png" alt=""/>
        </li>
        <img src="https://blingnation-signup.heroku.com/images/check_middle.png" alt=""/>
      </div>
      <div id="check-lower-section">
        <p><%= @agreement.bank_name %></p>
        <img src="https://blingnation-signup.heroku.com/images/check_center.png" alt=""/>
        <p><%= @agreement.account_number %></p>
        <img src="https://blingnation-signup.heroku.com/images/check_middle_right.png" alt=""/>
      </div>
      <img id="check_upper_bottom" src="https://blingnation-signup.heroku.com/images/check_upper_bottom.png" alt=""/>
      <div id="lower-left-bottom">
        <img id="bottom-section" src="images/check_lower_left_bottom.png" alt=""/>
        <div id="little-string">
          <input type="checkbox" value="1" name="agreement[new_account]" id="agreement_new_account" value="<%= @agreement.new_account %>"/>
          <img src="https://blingnation-signup.heroku.com/images/check_bottom_left_right.png" alt=""/>
        </div>
        <img id="bottom-corner" src="https://blingnation-signup.heroku.com/images/check_lower_right_bottom.png" alt=""/>
      </div>
    </div>

    <div id="bottom">
      <img src="https://blingnation-signup.heroku.com/images/terms.png" alt=""/>
      <li id="agreement_printed_name_input" class="string required">
        <p><%= @agreement.printed_name %></p>
        <label for="agreement_printed_name">Printed name</label>
      </li>
      <li id="agreement_initials_input" class="string required">
        <p><%= @agreement.initials %></p>
        <label for="agreement_initials">By entering your initials <br/>above, you agree to the terms</label>
      </li>
      <li id="agreement_title_input" class="string required">
        <p><%= @agreement.title %></p>
        <label for="agreement_title">Title</label>
      </li>
    </div>
    <div class="clear"></div>
  </div>
</body>
</html>
