<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>New Agreement</title>
</head>
<body>

  <table>
    <tr>
      <td>Legal name</td>
      <td><%= @agreement.legal_name %></td>
    </tr>
    <tr>

      <td>Business name</td>
      <td><%= @agreement.business_name %></td>
    </tr>
    <tr>
      <td>Short name</td>
      <td><%= @agreement.short_name %></td>
    </tr>
    <tr>
      <td>Business phone</td>
      <td><%= @agreement.business_phone %></td>
    </tr>
    <tr>
      <td>Physical address</td>
      <td><%= @agreement.physical_address %></td>
    </tr>
    <tr>
      <td>Mailing address</td>
      <td><%= @agreement.mailing_address %></td>
    </tr>
    <tr>
      <td>City</td>
      <td><%= @agreement.city %></td>
    </tr>
    <tr>
      <td>State</td>
      <td><%= @agreement.state %></td>
    </tr>
    <tr>
      <td>Zip</td>
      <td><%= @agreement.zip %></td>
    </tr>
    <tr>
      <td>Authorized contact</td>
      <td><%= @agreement.authorized_contact %></td>
    </tr>
    <tr>
      <td>Authorized contact cell</td>
      <td><%= @agreement.authorized_contact_cell %></td>
    </tr>
    <tr>
      <td>Fax</td>
      <td><%= @agreement.fax %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= @agreement.email %></td>
    </tr>
    <tr>
      <td>Years in business</td>
      <td><%= @agreement.years_in_business %></td>
    </tr>
    <tr>
      <td>Ein</td>
      <td><%= @agreement.ein %></td>
    </tr>
    <tr>
      <td>Ownership type</td>
      <td><%= @agreement.ownership_type %></td>
    </tr>
    <tr>
      <td>Num of blingers</td>
      <td><%= @agreement.num_of_blingers %></td>
    </tr>
    <tr>
      <td>Name on account</td>
      <td><%= @agreement.name_on_account %></td>
    </tr>
    <tr>
      <td>Bank name</td>
      <td><%= @agreement.bank_name %></td>
    </tr>
    <tr>
      <td>Account number</td>
      <td><%= @agreement.account_number %></td>
    </tr>
    <tr>
      <td>New account</td>
      <td><%= @agreement.new_account %></td>
    </tr>
    <tr>
      <td>Printed name></td>
      <td><%= @agreement.printed_name %></td>
    </tr>
    <tr>
      <td>Initials</td>
      <td><%= @agreement.initials %></td>
    </tr>    
    <tr>
      <td>Title</td>
      <td><%= @agreement.title %></td>
    </tr>
  </table>
</body>
</html>