<h1>Listing banks</h1>

<table id="bank-table">
  <tr class="table-top">
    <td>Name</td>
    <td>City</td>
    <td>State</td>
    <td colspan="3">Manage</td>
  </tr>

<% @banks.each do |bank| %>
  <tr>
    <td><%=h bank.name %></td>
    <td><%=h bank.city %></td>
    <td><%=h bank.state %></td>
    <td><%= link_to 'Show', bank %></td>
    <td><%= link_to 'Edit', edit_bank_path(bank) %></td>
    <td><%= link_to 'Delete', bank, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New bank', new_bank_path %>