<h1>Bank</h1>
<p>Bank will appear in list as:</p>

<p><strong><%=h @bank.name %> - <%=h @bank.city %>, <%=h @bank.state %></strong></p>




<%= link_to 'Edit', edit_bank_path(@bank) %> |
<%= link_to 'Back', banks_path %>