<h1>Editing merchant</h1>

<% form_for(@merchant) do |f| %>
  <%= f.error_messages %>

  <p>
    This is a merchant for which bank?<br/>
    <%= f.collection_select :bank_id, @banks, :id, :to_s %>

  </p>
  <p>
    <%= f.label "Merchant name as you would like it to appear:"%><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @merchant %> |
<%= link_to 'Back', merchants_path %>