<h1>Listing agreements</h1>

<table>
  <tr>
    <td>Legal name</td>
    <td>Business name</td>
    <td>Short name</td>
    <td>Business phone</td>
    <td>Physical address</td>
    <td>Mailing address</td>
    <td>City</td>
    <td>State</td>
    <td>Zip</td>
    <td>Authorized contact</td>
    <td>Authorized contact cell</td>
    <td>Fax</td>
    <td>Email</td>
    <td>Years in business</td>
    <td>Ein</td>
    <td>Ownership type</td>
    <td>Num of blingers</td>
    <td>Name on account</td>
    <td>Bank name</td>
    <td>Account number</td>
    <td>New account</td>
    <td>Printed name></td>
    <td>Initials</td>
    <td>Title</td>
  </tr>
<% @agreements.each do |agreement| %>
  <tr>
    <td><%= agreement.legal_name %></td>
    <td><%= agreement.business_name %></td>
    <td><%= agreement.short_name %></td>
    <td><%= agreement.business_phone %></td>
    <td><%= agreement.physical_address %></td>
    <td><%= agreement.mailing_address %></td>
    <td><%= agreement.city %></td>
    <td><%= agreement.state %></td>
    <td><%= agreement.zip %></td>
    <td><%= agreement.authorized_contact %></td>
    <td><%= agreement.authorized_contact_cell %></td>
    <td><%= agreement.fax %></td>
    <td><%= agreement.email %></td>
    <td><%= agreement.years_in_business %></td>
    <td><%= agreement.ein %></td>
    <td><%= agreement.ownership_type %></td>
    <td><%= agreement.num_of_blingers %></td>
    <td><%= agreement.name_on_account %></td>
    <td><%= agreement.bank_name %></td>
    <td><%= agreement.account_number %></td>
    <td><%= agreement.new_account %></td>
    <td><%= agreement.printed_name %></td>
    <td><%= agreement.initials %></td>
    <td><%= agreement.title %></td>
  </tr>
<% end %>
</table>

<br />
