<% content_for :head do %>
  <%= javascript_include_tag 'jquery/colorbox/jquery.colorbox-min'%>

<% end %>
<% content_for :javascript do %>
  $(document).ready(function(){

    $(document).bind('cbox_open', function(){
        $(document).unbind("keydown.cbox_close");
    });
    $("business_type").show();
    $.fn.colorbox({ href:"#business_type",
                    open:true,
                    inline:true,
                    width:"570px",
                    height:"261px",
                    overlayClose:false
                  });
    $().bind('cbox_closed', function(){
      $('#business_type').hide();
    });



  });
<% end %>
<h1>New agreement</h1>
<a class='example8' href="#">Business Type</a>
<% semantic_form_for(@agreement) do |f| %>
  <% f.inputs do %>
    <%= f.input :business_type, :as => :hidden %>
    <%= f.input :legal_name, :label => 'Legal name' %>
    <%= f.input :business_name, :label => 'Business name' %>
    <%= f.input :short_name, :label => 'Short name' %>
    <%= f.input :business_phone, :label => 'Business phone' %>
    <%= f.input :physical_address, :label => 'Physical address' %>
    <%= f.input :mailing_address, :label => 'Mailing address' %>
    <%= f.input :city, :label => 'City' %>
    <%= f.input :state, :label => 'State' %>
    <%= f.input :zip, :label => 'Zip' %>
    <%= f.input :authorized_contact, :label => 'Authorized contact' %>
    <%= f.input :authorized_contact_cell, :label => 'Authorized contact cell' %>
    <%= f.input :fax, :label => 'Fax' %>
    <%= f.input :email, :label => 'Email' %>
    <%= f.input :years_in_business, :label => 'Years in business' %>
    <%= f.input :ein, :label => 'Ein' %>
    <%= f.input :ownership_type, :label => 'Ownership type' %>
    <%= f.input :num_of_blingers, :label => 'Num of blingers' %>
    <%= f.input :name_on_account, :label => 'Name on account' %>
    <%= f.input :bank_name, :label => 'Bank name' %>
    <%= f.input :account_number, :label => 'Account number' %>
    <%= f.input :new_account, :label => 'New account' %>
    <%= f.input :printed_name, :label => 'Printed name' %>
    <%= f.input :initials, :label => 'Initials' %>
    <%= f.input :title, :label => 'Title' %>
  <% end %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

  <!-- This contains the hidden content for inline calls -->
  <div style='display:none'>
    <div id='business_type'>
      <ul id="popup-header">
        <li><h1>Bling Nation Merchant Signup</h1></li>
        <li><img src="images/bling_logo.gif" alt="logo"</li>
      </ul>
      <div class="clear"></div>
      <div id="touts">
        <p>You really want to do this! More enticing text.</p>
      </div>
      <div id="business-type-select">
        <p>What kind of business do you have?</p>
        <p><input type="radio" id="retail-button" name="business_type" value="Retail" checked> Retail</p>
        <p><input type="radio" id="restauran-button" name="business_type" value="Restaurant" checked> Restaurant</p>
        <p><input type="radio" id="fuel-button" name="business_type" value="Fuel" checked> Fuel</p>
        <p><input type="radio" id="grocery-button" name="business_type" value="Grocery" checked> Grocery</p>
        <p><input type="radio" id="other-button" name="business_type" value="Other" checked> Other</p>
      </div>
    </div>
  </div>
