<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Sign up to accept mobile payments with Bling Nation</title>
    <%# Load up the various javascript libraries from Google %>
    <script src="http://www.google.com/jsapi"></script>
    <script>
      // Load jQuery
      google.load("jquery", "1.3.2");
  </script>
  <%= stylesheet_link_tag 'main', :media => 'all' %>
  <%= stylesheet_link_tag 'formtastic', 'jquery/colorbox/colorbox', 'formtastic_changes', :media => 'all' %>

  <%= yield :head %>

  
  <script>
    <%= yield :javascript %>
  </script>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
